body {
    margin: 0%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    background-color: #E4F9F5;
    margin-top: 0%;
}

.top-cloud {
    position: relative;
    top: 40px;
    left: 300px;
}

.intro {
    position: relative;
    top: 70px;
}

.name {
    font-family: 'Sacramento', cursive;
    font-size: 5.65rem;
    margin-bottom: 0px;
    margin-top: 60px;
}

.programer {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 12px;
}

.pro {
    text-decoration: underline;
}

.cloud2 {
    position: relative;
    bottom: 200px;
    right: 100px;
}

.mountain {
    margin-top: 40px;
    position: relative;
    right: 20px;
}

.animation {
    height: 450px;
}

.your_image {
    padding: 75px 0 10px 0;

    background-color: #F9E4E8;
}

.my_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h2 {
    font-size: 1.75rem;
}

.hello {

    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    width: 30%;
    margin: auto;
}

.discription {
    margin-bottom: 70px;
    background-color: #F9E4E8;
    padding-bottom: 30px;
}

.my_skills {
    margin-bottom: 50px;
}

.skills {
    background-color: #E4F9F5;
}

/* .web_dev_img{
    padding: 10px;
    height: 250px;
    width: 250px;
} */

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    height: 200px;
}

.web_dev_img {
    padding: 10px;

    width: 25%;
    float: left;
    margin-right: 10px;
    margin-top: 12px;
}

.web_dev_disc {
    width: fit-content;
    text-align: left;
    line-height: 2;
}

.hot_wings {
    padding: 10px;
    width: 20%;
    float: right;
    margin-left: 10px;
}

.hot_wing_disc {

    width: fit-content;
    text-align: left;
    line-height: 2;
}

.second {
    padding: 50px;

}

.getInTouch {
    margin: 40px auto;
}

.para {
    line-height: 2;
    margin-bottom: 30px;
}

.button {
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.footer{
    background-color: #BAE4F0;
    padding: 100px;
}

a{
    text-decoration: none;
    padding: 5px;
    color: black;

}

.copywrite{
    margin-top: 10px;
}
a:hover{
    color: #ffffff;
}